<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <!-- Lagom Microservice -->
  <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
  
    <launchConfigurationType
           id="scalaide.lagom.microservice"
           delegate="org.scalaide.lagom.microservice.launching.LagomLaunchDelegate"
           delegateDescription="The Lagom Launcher supports running and debugging Lagom microservices."
           delegateName="Lagom Microservice Launcher"
           modes="run, debug"
           name="Lagom Microservice Launcher"
           public="true"
           sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
           sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
    </launchConfigurationType>
  
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
  
    <launchConfigurationTypeImage
           configTypeID="scalaide.lagom.microservice"
           icon="icons/full/etool16/littlelagom.png"
           id="scalaide.lagom.microservice.image">
    </launchConfigurationTypeImage>
  
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    
    <launchConfigurationTabGroup
        type="scalaide.lagom.microservice"
        class="org.scalaide.lagom.microservice.launching.LagomServerTabGroup"
        id="scalaide.lagom.microservice.tabGroup">
    </launchConfigurationTabGroup>
    
  </extension>
  
  <extension point="org.eclipse.core.expressions.propertyTesters">
    
      <propertyTester
           class="org.scalaide.lagom.microservice.launching.LagomLaunchableTester"
           id="org.scalaide.lagom.microservice.launching.LagomLaunchableTester"
           namespace="org.scalaide.lagom.microservice.launching"
           properties="hasLagomLoader"
           type="org.eclipse.core.runtime.IAdaptable"/>  
    
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    
    <shortcut
        class="org.scalaide.lagom.microservice.launching.LagomLaunchShortcut"
        icon="icons/full/obj16/littlelagom.png"
        id="org.eclipse.shortcut.scalaide.lagom.microservice"
        label="%LagomLaunchShortcut.label"
        modes="run,debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1" />
            <iterate>
              <test property="org.scalaide.lagom.microservice.launching.hasLagomLoader"/>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
    
  </extension>
  
  <!-- Lagom Service Locator -->
  <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
  
    <launchConfigurationType
           id="scalaide.lagom.locator"
           delegate="org.scalaide.lagom.locator.launching.LagomLaunchDelegate"
           delegateDescription="The Lagom Launcher supports running and debugging Lagom Service Locator."
           delegateName="Lagom Service Locator Launcher"
           modes="run, debug"
           name="Lagom Service Locator Launcher"
           public="true"
           sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
           sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
    </launchConfigurationType>
  
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
  
    <launchConfigurationTypeImage
           configTypeID="scalaide.lagom.locator"
           icon="icons/full/etool16/lagomlocator.png"
           id="scalaide.lagom.locator.image">
    </launchConfigurationTypeImage>
  
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    
    <launchConfigurationTabGroup
        type="scala.scalatest"
        class="scala.tools.eclipse.scalatest.launching.ScalaTestTabGroup"
        id="scala.scalatest.tabGroup">
    </launchConfigurationTabGroup>
    
  </extension>
  
  <extension point="org.eclipse.core.expressions.propertyTesters">
    
      <propertyTester
           class="org.scalaide.lagom.locator.launching.LagomLaunchableTester"
           id="org.scalaide.lagom.locator.launching.LagomLaunchableTester"
           namespace="org.scalaide.lagom.locator.launching"
           properties="hasLagomLoader"
           type="org.eclipse.core.runtime.IAdaptable"/>  
    
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    
    <shortcut
        class="org.scalaide.lagom.locator.launching.LagomLaunchShortcut"
        icon="icons/full/obj16/lagomlocator.png"
        id="org.eclipse.shortcut.scalaide.lagom.locator"
        label="%LagomLocatorShortcut.label"
        modes="run,debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1" />
            <iterate>
              <test property="org.scalaide.lagom.locator.launching.hasLagomLoader"/>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
    
  </extension>
  
  <!-- Lagom Cassandra Server -->
  <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
  
    <launchConfigurationType
           id="scalaide.lagom.cassandra"
           delegate="org.scalaide.lagom.cassandra.LagomLaunchDelegate"
           delegateDescription="The Lagom Launcher supports running and debugging Lagom Cassandra Server."
           delegateName="Lagom Cassandra Launcher"
           modes="run, debug"
           name="Lagom Cassandra Launcher"
           public="true"
           sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
           sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
    </launchConfigurationType>
  
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
  
    <launchConfigurationTypeImage
           configTypeID="scalaide.lagom.cassandra"
           icon="icons/full/etool16/lagomcassandra.png"
           id="scalaide.lagom.cassandra.image">
    </launchConfigurationTypeImage>
  
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    
    <launchConfigurationTabGroup
        type="scala.scalatest"
        class="scala.tools.eclipse.scalatest.launching.ScalaTestTabGroup"
        id="scala.scalatest.tabGroup">
    </launchConfigurationTabGroup>
    
  </extension>
  
  <extension point="org.eclipse.core.expressions.propertyTesters">
    
      <propertyTester
           class="org.scalaide.lagom.cassandra.LagomLaunchableTester"
           id="org.scalaide.lagom.cassandra.LagomLaunchableTester"
           namespace="org.scalaide.lagom.cassandra"
           properties="hasLagomLoader"
           type="org.eclipse.core.runtime.IAdaptable"/>  
    
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    
    <shortcut
        class="org.scalaide.lagom.cassandra.LagomLaunchShortcut"
        icon="icons/full/obj16/lagomcassandra.png"
        id="org.eclipse.shortcut.scalaide.lagom.cassandra"
        label="%LagomCassandraShortcut.label"
        modes="run,debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1" />
            <iterate>
              <test property="org.scalaide.lagom.cassandra.hasLagomLoader"/>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
    
  </extension>
  
  <extension
       id="scala.tools.eclipse.consoleView"
       point="org.eclipse.ui.views">
     
    <view name="ScalaTest"
           icon="icons/full/etool16/scalatest.gif"
           category="org.scala-ide.sdt.core.viewCategory"
           fastViewWidthRatio="0.40"
           class="scala.tools.eclipse.scalatest.ui.ScalaTestRunnerViewPart"
           id="scala.tools.eclipse.scalatest.ui.ScalaTestResultView">
    </view>
       
  </extension>

</plugin>